<!-- ======================================== OBSERVABLE====================================================
     === stream di dati importati dalla libreria RxJS, che permette di utilizzare un paradigma di ==========
     === programmazione chiamato Reactive Programming, dove la reattività sta nell'osservare i =============
     === cambiamenti che avvengono nel flusso e di conseguenza reagire =====================================
     =======================================================================================================
     === Principali attori: - OBSERVABLE : crea materiale di flusso di dati (il suo compito è quello =======
     ======================                di inviare il dato) =============================================
     ====================== - OBSERVE    : si pone dall'altro capo dello stream, ricevendo le notifiche ====
     ====================== - SUBJECT    : si ha simultaneamente un observable e un observe ================
     ======================                Paragonabile all'eventEmitter ===================================
     =======================================================================================================  -->

<hr>
<p>Prt.021</p>
<h2>Simple Observable and Subject Hello</h2>
<hr>

<!-- <div></div> -->

<button (click)="send()">Click</button>