<hr>
<h1>Services</h1>

<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
    </tr>
</table>

<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr>
        <td>{{ prod.id }}</td>
        <td>{{ prod.name }}</td>
        <td>{{ prod.description }}</td>
    </tr>
</table>

